AWS_REGION=eu-west-1
# AWS_ACCESS_KEY_ID=local
# AWS_SECRET_ACCESS_KEY=local
AWS_PROFILE=aws-profile-name
DYNAMODB_TABLE_NAME=AppTable
# DYNAMODB_ENDPOINT_URL=http://localhost:8000
S3_BUCKET_NAME=ccbda-app-bucket
ENVIRONMENT=dev
