AWS_REGION=eu-west-1
AWS_PROFILE=lab_cli_user
DYNAMODB_TABLE_NAME=AppTable
S3_BUCKET_NAME=ccbda-app-bucket
ENVIRONMENT=dev
JOB_PROCESSING_QUEUE_URL=https://sqs.eu-west-1.amazonaws.com/<ACCOUNT_ID>/ccbda-job-processing
